{% extends "base.html" %}
{% from "govuk-jinja-components/phase-banner/macro.jinja" import govukPhaseBanner %}
{% from "govuk-jinja-components/breadcrumbs/macro.jinja" import govukBreadcrumbs %}

{% block head %}
<link href="https://digital-land-design.herokuapp.com/static/stylesheets/dl-frontend.css" rel="stylesheet" />
{% endblock %}

{% block header %}
{% include 'dl-partials/cookie-banner.html' %}
{% include 'dl-partials/dl-header.html' %}
{% endblock %}

{% block beforeContent %}
	{{ govukPhaseBanner({
		"classes": "govuk-width-container",
		"tag": {
			"text": "prototype"
		},
		"html": 'This is a prototype. Please provide feedback to the Digital Land team.'
	}) }}

	{{ govukBreadcrumbs({
	  "items": [
	    {
	      "text": "Digital Land",
	      "href": "https://digital-land.github.io/"
	    },
	    {
	      "text": "Organisations"
	    }
	  ]
	}) }}

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
	{% block pageFeedback %}{% endblock %}

	{{ govukFooter({
		"meta": {
			"html": 'The software used to build the <a href="https://github.com/digital-land/organisation-dataset">organisation-dataset</a> and these <a href="https://github.com/digital-land/organisation">organisation</a> pages is <a href="https://github.com/digital-land/organisation/blob/master/LICENSE">open source</a>.'
		}
	}) }}
{% endblock %}

{% block bodyEnd %}
<script src="https://digital-land.github.io/javascripts/govuk/govuk-frontend-3.0.0.min.js"></script>
<script>
	// initiate all GOVUK components
	window.GOVUKFrontend.initAll();
</script>
<script src="https://digital-land-design.herokuapp.com/static/javascripts/dl-frontend.js"></script>
<script>
	// adds any necessary polyfills
	window.DLFrontend.polyfill();
</script>
<script type="application/javascript">

    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        console.log("setting cookie" + name + "=" + (value || "")  + expires + "; path=/");
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function acceptCookies() {
        setCookie("cookies_preferences_set",true,365);
        setCookie("cookies_policy",JSON.stringify({"essential":true,"settings":true,"usage":true,"campaigns":true}),365);
        hideCookieBanner();
        showCookieConfirmation();
        setTrackingCookies();
    }

    function hideCookieBanner() {
        cookieBanner = document.getElementById("cookie-banner")
        cookieBanner.style.display = "none";
    }

    function showCookieConfirmation() {
        cookieBanner = document.getElementById("cookie-confirmation")
        cookieBanner.style.display = "block";
    }

    function setTrackingCookies() {
        cookiesPolicy = JSON.parse(getCookie("cookies_policy"))
        var doNotTrack = cookiesPolicy == null || !cookiesPolicy.usage
        if (doNotTrack) {
            window['ga-disable-UA-127566551-1'] = true;
        } else {
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-127566551-1', 'auto');
            ga('send', 'pageview');
        }
    }

    if (getCookie("cookies_preferences_set")) {
        hideCookieBanner();
    }

    setTrackingCookies()
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
{% endblock %}
