{% extends "dlf-base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://digital-land-design.herokuapp.com/static/stylesheets/vendor/govuk-accessible-autocomplete.min.css" />
{% if redirect_page %}
<!-- adding a redirect to new location
     following: https://opensource.com/article/19/7/permanently-redirect-github-pages -->
<meta http-equiv="refresh" content="0;url=https://digital-land.github.io/organisation/shielding-hub" />
<link rel="canonical" href="https://digital-land.github.io/organisation/shielding-hub">
{% endif %}
{% endblock  %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    "classes": "govuk-width-container",
    "tag": {
      "text": "prototype"
    },
    "html": 'This is a prototype. Please provide feedback to the Digital Land team.'
  }) }}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Digital Land",
        "href": "https://digital-land.github.io/"
      },
      {
        "text": "Organisations",
        "href": "https://digital-land.github.io/organisation/"
      },
      {
        "text": "Shielding hubs"
      }
    ]
  }) }}

{% endblock %}

{% block pageTitle %}Shielding hubs | Organisations | Digital Land{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Organisations</span>
        <h1 class="govuk-heading-xl" id="find-hub">Find your hub</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">On this page you will be able to find which of the {{ data.hubs|length }} Hubs a Local Authority is part of.</p>
    </div>
</div>

<div class="govuk-grid-row hide-if-no-js">
  <div class="govuk-grid-column-two-thirds">
    <form class="govuk-form" id="la-search-form">
      <div class="govuk-form-group">
        <label class="govuk-label" for="council-search">
          Search for a Local Authority
        </label>
        <span id="council-search-error" class="govuk-error-message" role="alert">
          <span class="govuk-visually-hidden">Error:</span> Value entered not recognised, please try again
        </span>
        <select class="govuk-select" id="council-search" name="council-search">
          <option value=""></option>
          {% for council in data.councils %}
          <option value="{{ council }}">{{ council }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="govuk-form-group govuk-!-margin-bottom-1">
        <button class="govuk-button dlf-filter-button">Find</button>
      </div>
      <p class="govuk-body govuk-!-font-size-16"><a href="#download">Download shielding hub data</a></p>
    </form>
  </div>
</div>

<hr class="govuk-section-break hub-list__separator govuk-section-break--visible">

{% for hub in data.hubs %}
{% set hl = namespace(la_str="") %}
{% for la in hub[1]['local-authority'] %}
  {% if la.name not in hl.la_str %}
    {% set hl.la_str = hl.la_str + " " + la.name %}
  {% endif %}
  {% if la['informal-name'] not in hl.la_str %}
    {% set hl.la_str = hl.la_str + " " + la['informal-name'] %}
  {% endif %}
{% endfor %}

{% if hub[1]['informal-name']|length > 1 %}
  {% set informal_hub_names = hub[1]['informal-name']|join(',') %}
{% else %}
  {% set informal_hub_names = hub[1]['informal-name'][0] %}
{% endif %}
<div id="{% if hub[1].id %}{{hub[1].id|urlencode}}{% else %}hub{{loop.index}}{% endif %}" class="govuk-grid-row hub" data-org-names="{{ hl.la_str }},{{hub[0]}}, {{hub[1].name}}, {{ informal_hub_names }}">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Hub</span>
    <h2 class="govuk-heading-l" data-org-name="{{ hub[1].name }}, {{ informal_hub_names }}">{{ hub[1].name }}</h2>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-font-weight-bold">Local Authorities in the hub:</p>
    <ul class="govuk-list hub__la-list">
      {% for la in hub[1]['local-authority'] %}
      <li><a href="{{ la.organisation|org_url }}" data-org-name="{{la.name}}, {{la['informal-name']}}">{{ la.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <span class="govuk-caption-s">Local Resilience Forum</span>
    <h3 class="govuk-heading-s">{{ hub[1]['lrf'] }}</h3>
    <span class="govuk-caption-s">Region</span>
    <h3 class="govuk-heading-s">{{ hub[1]['region'] }}</h3>
  </div>
</div>
<hr class="govuk-section-break hub-list__separator govuk-section-break--visible">
{% endfor %}

<div class="govuk-grid-row govuk-main-wrapper--l">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="download">Download the data</h2>
    <p class="govuk-body">All the data on this page is available to download. There are 2 options available.</p>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a class="highlight-box govuk-!-margin-top-6" href="https://raw.githubusercontent.com/digital-land/organisation-dataset/master/data/hub.csv">
      <h3 class="govuk-heading-m highlight-box__title govuk-!-margin-top-0">Shielding hubs</h3>
      <p class="govuk-body govuk-!-margin-bottom-0">Get a copy of the shielding hub data in CSV format.</p>
    </a>
  </div>
  <div class="govuk-grid-column-one-half">
    <a class="highlight-box govuk-!-margin-top-6" href="https://raw.githubusercontent.com/digital-land/organisation-dataset/master/data/local-authority-to-hub.csv">
      <h3 class="govuk-heading-m highlight-box__title govuk-!-margin-top-0">Local authorities in hubs</h3>
      <p class="govuk-body govuk-!-margin-bottom-0">Get a copy of the local authortiy to shielding hub data in CSV format.</p>
    </a>
  </div>
</div>

<div class="govuk-!-margin-top-6" data-module="back-to-top">
  <a class="govuk-link govuk-link--no-visited-state back-to-top__link" href="#find-hub">
    <svg role="presentation" focusable="false" class="back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>

{% endblock %}

{% block pageFeedback %}
<div class="dlf-pg-feedback">
	<div class="dlf-pg-feedback__prompt">
	  <a href="mailto:digitalland@communities.gov.uk?subject=How to improve Shielding hub page" class="dlf-pg-feedback__link">How can we improve this page?</a>
	</div>
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script type="application/javascript">
  var doNotTrack = false;
  if (!doNotTrack) {
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-127566551-1', 'auto');
    ga('send', 'pageview');
  }
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

<script>
  var $btt = document.querySelector('[data-module*="back-to-top"]')
  new window.DLFrontend.BackToTop($btt).init({
    footer_selector: ".govuk-footer",
    head_selector: "#la-search-form",
    classes: "back-to-top--banner"
  });
</script>
<script src="https://digital-land-design.herokuapp.com/static/javascripts/vendor/govuk-accessible-autocomplete.min.js"></script>
<script>
  const las = document.querySelectorAll(".hub__la-list li span");

  // set up select input
  // Fully controled by JS so needs to handle errors
  let select_el = document.querySelector('#council-search');
  const select_options = select_el.querySelectorAll("option");
  const select_options_list = [];
  select_options.forEach(function(opt) {
    if(opt.value !== "") {
      select_options_list.push(opt.value);
    }
  })
  const select_form_group = select_el.closest(".govuk-form-group");
  const select_form = select_form_group.closest("form");
  const select_button = select_form.querySelector("button");
  const form_error_class = "govuk-form-group--error";
  const input_error_class = "govuk-input--error";

  function handleCouncilSelected(v) {
    if(select_options_list.indexOf(v) != -1) {
      select_form_group.classList.remove(form_error_class);
      select_el.classList.add(input_error_class);
      var hubEl = document.querySelector("[data-org-names*='"+ v +"']");

      window.location.href = "#" + hubEl.id;
      las.forEach(function(la) {
        la.classList.remove('found');
      });
      const new_la = document.querySelector("[data-org-name*='"+ v +"']");
      new_la.classList.add('found');
    } else {
      select_form_group.classList.add(form_error_class);
      select_el.classList.add(input_error_class);
    }
  }

  select_button.addEventListener('click', function(e) {
    e.preventDefault();
    // need to select element here because autocomplete plugin changes it
    select_el = document.getElementById("council-search");
    handleCouncilSelected(select_el.value);
  });


  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    confirmOnBlur: false,
    selectElement: select_el,
    onConfirm: handleCouncilSelected
  });
</script>
{% endblock %}
