{% extends "digital-land-frontend/dlf-base.html" %}

{% block pageTitle %}Organisations | Digital Land{% endblock %}

{% block beforeContent %}
	{{ govukPhaseBanner({
		"classes": "govuk-width-container",
		"tag": {
			"text": "prototype"
		},
		"html": 'This is a prototype. Please provide feedback to the Digital Land team.'
	}) }}

	{{ govukBreadcrumbs({
	  "items": [
	    {
	      "text": "Digital Land",
	      "href": "https://digital-land.github.io/"
	    },
	    {
	      "text": "Organisations"
	    }
	  ]
	}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
  	<h1 class="govuk-heading-xl">
          Organisations
  	</h1>

    <p class="govuk-body">Contents</p>
    <ul class="govuk-list govuk-list--bullet">
    {% for tag in tags|sort -%}
      <li><a href="#{{tag}}">{{tags[tag]["plural"]}}</a></li>
    {%- endfor %}
      <li><a href="#download">Download the data</a></li>
    </ul>
	</div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<form class="filter-organisations-list__form filter-organisations-list__form--active govuk-!-margin-bottom-9" data-filter="form">
  <label class="filter-list__label govuk-label govuk-!-font-weight-bold" for="filter-organisations-list">I'm looking for</label>
  <input class="filter-list__input govuk-input" type="text" id="filter-organisations-list" placeholder="For example, Harrogate Borough Council">
</form>

{% for tag in tags|sort %}
<div class="govuk-grid-row org-count">
  <div class="govuk-grid-column-one-third">
   {% if tags[tag]["organisations"]|length == 1 %}
     {% set plural = tags[tag]["name"] %}
     {% set are = "is" %}
   {% else %}
     {% set plural = tags[tag]["plural"] %}
     {% set are = "are" %}
   {% endif %}
    <h2 class="govuk-heading-m org-count__name" id="{{tag}}">{{plural}}</h2>
    <div class="org-count__wrapper">
      <p class="govuk-visually-hidden">There {{are}}
        <span class="js-accessible-list-count">{{ tags[tag]["organisations"]|length }}</span>
        {{plural}}
      </p>
      <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80 js-list-count" aria-hidden="true">{{ tags[tag]["organisations"]|length }}</span>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <ol class="org-list" data-filter="list">
    {% for organisation in tags[tag]["organisations"]|sort(attribute='name') %}
      <li class="org-list__item" data-filter="item">
        <a href="{{organisation['path']}}/" class="govuk-link org-list__item-title">{{organisation["name"]}}</a>
        {% if organisation['end-date'] and organisation['end-date'] < today  %}
        <strong class="govuk-tag govuk-tag--grey">
          Dissolved
        </strong>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </div>
</div>
{% endfor %}

<p class="organisations__no-filter-match js-no-filter-list-matches">No organisations match that filter.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="download">Download the data</h2>
    <p class="govuk-body">You can download the data on this page as:</p>
    <ul class="govuk-list">
      <li><a href="https://raw.githubusercontent.com/digital-land/organisation-dataset/main/collection/organisation.csv">CSV</a></li>
    </ul>
  </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
  // initialise list filter
  const $form = document.querySelector('[data-filter="form"]');
  new window.DLFrontend.FilterList($form).init({
      list_section_selector: '.org-count',
      count_wrapper_selector: '.org-count__wrapper'
  })
</script>
{% endblock %}
